
@{
    ViewBag.Title = "Invoice";
}

<div id="SHIRLEY SALES SHEET 04-10-2015_24266" align=center
     x:publishsource="Excel">

    <table border=0 cellpadding=0 cellspacing=0 width=724 style='border-collapse:
 collapse;table-layout:fixed;width:543pt'>
        <col class=xl6553524266 width=68 style='mso-width-source:userset;mso-width-alt:
 2486;width:51pt'>
        <col class=xl6553524266 width=118 style='mso-width-source:userset;mso-width-alt:
 4315;width:89pt'>
        <col class=xl6553524266 width=35 style='mso-width-source:userset;mso-width-alt:
 1280;width:26pt'>
        <col class=xl6553524266 width=106 style='mso-width-source:userset;mso-width-alt:
 3876;width:80pt'>
        <col class=xl6553524266 width=71 style='mso-width-source:userset;mso-width-alt:
 2596;width:53pt'>
        <col class=xl6553524266 width=47 style='mso-width-source:userset;mso-width-alt:
 1718;width:35pt'>
        <col class=xl6553524266 width=51 style='mso-width-source:userset;mso-width-alt:
 1865;width:38pt'>
        <col class=xl6553524266 width=65 style='mso-width-source:userset;mso-width-alt:
 2377;width:49pt'>
        <col class=xl6553524266 width=75 style='mso-width-source:userset;mso-width-alt:
 2742;width:56pt'>
        <col class=xl6553524266 width=88 style='mso-width-source:userset;mso-width-alt:
 3218;width:66pt'>
        <tr height=22 style='height:16.5pt'>
            <td height=22 class=xl58324266 colspan=4 width=327 style='height:16.5pt;
  width:246pt'>
                Motosel Industrial Group Inc.
            </td>
            <td colspan=2 class=xl58324266 width=118 style='width:88pt'>INVOICE</td>
            <td class=xl53224266 width=51 style='width:38pt'></td>
            <td class=xl53224266 width=65 style='width:49pt'></td>
            <td class=xl53224266 width=75 style='width:56pt'></td>
            <td class=xl53224266 width=88 style='width:66pt'></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl53224266 colspan=2 style='height:15.0pt'>
                #407 - 204
                Cayer Street
            </td>
            <td class=xl53224266></td>
            <td class=xl53224266></td>
            <td class=xl53224266></td>
            <td class=xl53224266></td>
            <td class=xl6553524266></td>
            <td class=xl52524266>Invoice Number:</td>
            <td class=xl6553524266></td>
            <td class=xl53124266>9267</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl53224266 colspan=2 style='height:15.0pt'>
                Coquitlam, BC
                V3K 5B1
            </td>
            <td class=xl53224266></td>
            <td class=xl53224266></td>
            <td class=xl53224266></td>
            <td class=xl53224266></td>
            <td class=xl6553524266></td>
            <td class=xl52524266>Invoice Date:</td>
            <td class=xl6553524266></td>
            <td class=xl55924266>04/01/2015</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl53224266 colspan=2 style='height:15.0pt'>
                Tel:
                604-629-8733
            </td>
            <td class=xl53224266></td>
            <td class=xl53224266></td>
            <td class=xl53224266></td>
            <td class=xl53224266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl53424266></td>
            <td class=xl6553524266></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl53224266 colspan=2 style='height:15.0pt'>
                Fax:
                604-629-7527
            </td>
            <td class=xl53224266></td>
            <td class=xl53224266></td>
            <td class=xl53224266></td>
            <td class=xl53224266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl52524266>Terms:</td>
            <td class=xl50924266>Net 30, 2/10</td>
        </tr>
        <tr height=14 style='mso-height-source:userset;height:10.5pt'>
            <td height=14 class=xl52524266 style='height:10.5pt'></td>
            <td class=xl51824266></td>
            <td class=xl51824266></td>
            <td class=xl51824266></td>
            <td class=xl51824266></td>
            <td class=xl51824266></td>
            <td class=xl51824266></td>
            <td class=xl51824266></td>
            <td class=xl51824266></td>
            <td class=xl51824266></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl53224266 colspan=2 style='height:15.0pt'>
                Customer
                Information:
            </td>
            <td class=xl52124266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl51224266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl51524266 colspan=2 style='height:15.0pt'>
                Billing
                Address:
            </td>
            <td class=xl51624266>&nbsp;</td>
            <td class=xl51724266>&nbsp;</td>
            <td class=xl51324266></td>
            <td class=xl59424266 colspan=3>Shipping Address:</td>
            <td class=xl59524266>&nbsp;</td>
            <td class=xl59624266>&nbsp;</td>
        </tr>
        <tr height=21 style='height:15.75pt'>
            <td height=21 class=xl53524266 style='height:15.75pt'>&nbsp;</td>
            <td class=xl53624266></td>
            <td class=xl53624266></td>
            <td class=xl53724266>&nbsp;</td>
            <td class=xl53324266></td>
            <td class=xl59724266>&nbsp;</td>
            <td class=xl59824266>&nbsp;</td>
            <td class=xl59824266>&nbsp;</td>
            <td class=xl59824266>&nbsp;</td>
            <td class=xl59924266>&nbsp;</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl52624266 colspan=2 style='height:15.0pt'>
                New West Auto
                Care
            </td>
            <td class=xl51824266></td>
            <td class=xl52724266>&nbsp;</td>
            <td class=xl51824266></td>
            <td class=xl52624266 colspan=3>New West Auto Care</td>
            <td class=xl51824266></td>
            <td class=xl52724266>&nbsp;</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl52624266 colspan=2 style='height:15.0pt'>
                402 - Sixth
                Street
            </td>
            <td class=xl51824266></td>
            <td class=xl52724266>&nbsp;</td>
            <td class=xl51824266></td>
            <td class=xl52624266 colspan=3>402 - Sixth Street</td>
            <td class=xl51824266></td>
            <td class=xl52724266>&nbsp;</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl52624266 colspan=2 style='height:15.0pt'>
                New
                Westminster
            </td>
            <td class=xl51824266>BC</td>
            <td class=xl53824266>V3L 3B2</td>
            <td class=xl51824266></td>
            <td class=xl52624266 colspan=3>New Westminster</td>
            <td class=xl51924266>BC</td>
            <td class=xl52724266>V3L 3B2</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl52624266 style='height:15.0pt'>&nbsp;</td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl51424266>&nbsp;</td>
            <td class=xl6553524266></td>
            <td class=xl57124266>&nbsp;</td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl51424266>&nbsp;</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl53924266 style='height:15.0pt'>&nbsp;</td>
            <td class=xl52024266>&nbsp;</td>
            <td class=xl52024266>&nbsp;</td>
            <td class=xl52824266>&nbsp;</td>
            <td class=xl51824266></td>
            <td class=xl52424266>&nbsp;</td>
            <td class=xl52024266>&nbsp;</td>
            <td class=xl52024266>&nbsp;</td>
            <td class=xl52024266>&nbsp;</td>
            <td class=xl52824266>&nbsp;</td>
        </tr>
        <tr height=13 style='mso-height-source:userset;height:9.75pt'>
            <td height=13 class=xl6553524266 style='height:9.75pt'></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl54024266 colspan=2 style='height:15.0pt'>
                Order
                Information:
            </td>
            <td class=xl54124266>&nbsp;</td>
            <td class=xl54224266>&nbsp;</td>
            <td class=xl54224266>&nbsp;</td>
            <td class=xl54224266>&nbsp;</td>
            <td class=xl54224266>&nbsp;</td>
            <td class=xl54224266>&nbsp;</td>
            <td class=xl54224266>&nbsp;</td>
            <td class=xl54224266>&nbsp;</td>
        </tr>
        <tr height=34 style='mso-height-source:userset;height:25.5pt'>
            <td height=34 class=xl54324266 width=68 style='height:25.5pt;width:51pt'>QTY</td>
            <td colspan=2 class=xl58224266 width=153 style='width:115pt'>Unit</td>
            <td class=xl58224266 width=106 style='border-top:none;width:80pt'>
                Product
                Description
            </td>
            <td class=xl58224266 width=71 style='border-top:none;width:53pt'>Product Code</td>
            <td class=xl54424266 width=47 style='border-top:none;width:35pt'>PO:</td>
            <td class=xl58224266 width=51 style='border-top:none;width:38pt'>&nbsp;</td>
            <td class=xl54524266 width=65 style='border-top:none;width:49pt'>&nbsp;</td>
            <td class=xl54424266 width=75 style='border-top:none;width:56pt'>EHC</td>
            <td class=xl54624266 width=88 style='width:66pt'>Amount</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl54724266 style='height:15.0pt;border-top:none'>400</td>
            <td class=xl57224266>Bulk</td>
            <td class=xl57224266>&nbsp;</td>
            <td class=xl57224266>10W30 SN</td>
            <td class=xl57224266>M-0201</td>
            <td class=xl56724266>&nbsp;</td>
            <td class=xl57224266>&nbsp;</td>
            <td class=xl54824266>&nbsp;</td>
            <td class=xl54924266>20.00</td>
            <td class=xl57624266 align=right style='border-top:none'>820.00</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl55024266 style='height:15.0pt'>&nbsp;</td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl53224266></td>
            <td class=xl52124266></td>
            <td class=xl52224266></td>
            <td class=xl56624266></td>
            <td class=xl55624266>&nbsp;</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl55024266 style='height:15.0pt'>&nbsp;</td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl53224266></td>
            <td class=xl52124266></td>
            <td class=xl52224266></td>
            <td class=xl56624266></td>
            <td class=xl55624266>&nbsp;</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl55024266 style='height:15.0pt'>&nbsp;</td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl53224266></td>
            <td class=xl52124266></td>
            <td class=xl52224266></td>
            <td class=xl56624266></td>
            <td class=xl55624266>&nbsp;</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl55024266 style='height:15.0pt'>&nbsp;</td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl53224266></td>
            <td class=xl52124266></td>
            <td class=xl52224266></td>
            <td class=xl56624266></td>
            <td class=xl55624266>&nbsp;</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl55024266 style='height:15.0pt'>&nbsp;</td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl53224266></td>
            <td class=xl52224266></td>
            <td class=xl52224266></td>
            <td class=xl56624266></td>
            <td class=xl55624266>&nbsp;</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl55024266 style='height:15.0pt'>&nbsp;</td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl53224266></td>
            <td class=xl52224266></td>
            <td class=xl52224266></td>
            <td class=xl56624266></td>
            <td class=xl55624266>&nbsp;</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl55024266 style='height:15.0pt'>&nbsp;</td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl53224266></td>
            <td class=xl52224266></td>
            <td class=xl52224266></td>
            <td class=xl56624266></td>
            <td class=xl55624266>&nbsp;</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl50424266 style='height:15.0pt'>&nbsp;</td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl56824266></td>
            <td class=xl52224266></td>
            <td class=xl52224266></td>
            <td class=xl56624266></td>
            <td class=xl55624266>&nbsp;</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl50424266 style='height:15.0pt'>&nbsp;</td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl57824266></td>
            <td class=xl52124266></td>
            <td class=xl56824266></td>
            <td class=xl52224266></td>
            <td class=xl52224266></td>
            <td class=xl56624266></td>
            <td class=xl55624266>&nbsp;</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl50424266 style='height:15.0pt'>&nbsp;</td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl56824266></td>
            <td class=xl52224266></td>
            <td class=xl52224266></td>
            <td class=xl56624266></td>
            <td class=xl55624266>&nbsp;</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl50424266 style='height:15.0pt'>&nbsp;</td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl56824266></td>
            <td class=xl52224266></td>
            <td class=xl52224266></td>
            <td class=xl56624266></td>
            <td class=xl55624266>&nbsp;</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl50424266 style='height:15.0pt'>&nbsp;</td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl56824266></td>
            <td class=xl52224266></td>
            <td class=xl52224266></td>
            <td class=xl56624266></td>
            <td class=xl55624266>&nbsp;</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl50424266 style='height:15.0pt'>&nbsp;</td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl56824266></td>
            <td class=xl52224266></td>
            <td class=xl52224266></td>
            <td class=xl56624266></td>
            <td class=xl55624266>&nbsp;</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl50424266 style='height:15.0pt'>&nbsp;</td>
            <td class=xl54124266>&nbsp;</td>
            <td class=xl54124266>&nbsp;</td>
            <td class=xl52124266></td>
            <td class=xl52124266></td>
            <td class=xl56824266></td>
            <td class=xl50824266></td>
            <td class=xl50824266></td>
            <td class=xl56624266></td>
            <td class=xl55624266>&nbsp;</td>
        </tr>
        <tr height=21 style='height:15.75pt'>
            <td height=21 class=xl56524266 style='height:15.75pt'>DUE DATE:</td>
            <td class=xl56424266 style='border-top:none'>05/01/2015</td>
            <td class=xl56424266 style='border-top:none'>&nbsp;</td>
            <td class=xl51124266 colspan=4 style='border-right:.5pt solid black'>
                2.5%
                Interest on Payments after Due Date on Invoi<span style='display:none'>ce</span>
            </td>
            <td class=xl55224266>&nbsp;</td>
            <td class=xl56024266>Subtotal:</td>
            <td class=xl56124266 align=right>820.00</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl55324266 style='height:15.0pt'>&nbsp;</td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl50524266 style='border-top:none'>&nbsp;</td>
            <td class=xl55424266>Environmental Handling Chg:</td>
            <td class=xl6553524266></td>
            <td class=xl56224266>20.00</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl57024266 colspan=7 style='height:15.0pt;border-right:
  .5pt solid black'>
                Thank you for doing business with Motosel Industrial Group
                Inc.
            </td>
            <td class=xl50624266></td>
            <td class=xl55524266></td>
            <td class=xl56324266>&nbsp;</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl56924266 colspan=2 style='height:15.0pt'>
                Business
                Number 811736651RT0001
            </td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl52524266></td>
            <td class=xl50724266>&nbsp;</td>
            <td class=xl50624266></td>
            <td class=xl55524266>GST &#64; 5%:</td>
            <td class=xl56324266 align=right>42.00</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl55724266 style='height:15.0pt'>&nbsp;</td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl52324266></td>
            <td class=xl50724266>&nbsp;</td>
            <td class=xl50624266></td>
            <td class=xl55524266>PST &#64; 7%:</td>
            <td class=xl56324266 align=right>0.00</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td colspan=2 height=20 class=xl59024266 style='height:15.0pt'>
                PAID IN CASH
                OR CHEQ <font class="font524266">BEFORE</font>
            </td>
            <td colspan=2 class=xl59224266>04/11/2015</td>
            <td class=xl58124266>$865.60</td>
            <td class=xl57924266>SAVE:</td>
            <td class=xl58024266>$16.40</td>
            <td class=xl57524266 style='border-left:none'>&nbsp;</td>
            <td class=xl57324266>Grand Total:</td>
            <td class=xl57424266 align=right>$882.00</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl6553524266 style='height:15.0pt'></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl6553524266 style='height:15.0pt'></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl51024266 colspan=2 style='height:15.0pt'>
                Additional
                Information:
            </td>
            <td class=xl51024266></td>
            <td class=xl51024266></td>
            <td class=xl51024266></td>
            <td class=xl51024266></td>
            <td class=xl51024266></td>
            <td class=xl51024266></td>
            <td class=xl51024266></td>
            <td class=xl51024266></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl51024266 colspan=10 style='height:15.0pt'>
                1. Account
                Terms: (2/10, Net 30) Payable either by: Cash, Visa card, or Personalized
                cheque (we require either a valid B.C. Drivers License or B.C. ID.
            </td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl51024266 colspan=10 style='height:15.0pt'>
                <span style='mso-spacerun:yes'></span>And a major credit card). A &quot;Prompt
                Pament&quot; discount of 2% is offered if the customer pays in Cash or Cheque
                within the firest 10 days of<span style='mso-spacerun:yes'> </span>
            </td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl51024266 colspan=3 style='height:15.0pt'>
                <span style='mso-spacerun:yes'></span>purchase (taxes and ECO do not apply).
            </td>
            <td class=xl51024266></td>
            <td class=xl51024266></td>
            <td class=xl51024266></td>
            <td class=xl51024266></td>
            <td class=xl51024266></td>
            <td class=xl51024266></td>
            <td class=xl51024266></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl51024266 colspan=9 style='height:15.0pt'>
                2. Applicat
                further agrees to pay a service charge on all overdue accounts at the rate of
                2.5% per month 34.48% per annum).
            </td>
            <td class=xl51024266></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl51024266 colspan=4 style='height:15.0pt'>
                3. Release of
                orders may be withheld on overdue balances.
            </td>
            <td class=xl51024266></td>
            <td class=xl51024266></td>
            <td class=xl51024266></td>
            <td class=xl51024266></td>
            <td class=xl51024266></td>
            <td class=xl51024266></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl51024266 colspan=4 style='height:15.0pt'>
                4. All costs
                of collections will be covered by the debtor.
            </td>
            <td class=xl51024266></td>
            <td class=xl51024266></td>
            <td class=xl51024266></td>
            <td class=xl51024266></td>
            <td class=xl51024266></td>
            <td class=xl51024266></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl51024266 colspan=10 style='height:15.0pt'>
                5. In
                consideratin of Motosel Industrial Group Inc. granting credit to the
                Applicant, the Applicant grants to Motosel Industrial Group Inc. a security
            </td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl51024266 colspan=10 style='height:15.0pt'>
                <span style='mso-spacerun:yes'></span>interest in all of the Applicant's after
                acquired personal property, including proceeds, and a performance of all
                obligations of the Applicant.
            </td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl51024266 colspan=4 style='height:15.0pt'>
                6. A $25 fee
                will be charged for each NSf cheque.
            </td>
            <td class=xl51024266></td>
            <td class=xl51024266></td>
            <td class=xl51024266></td>
            <td class=xl51024266></td>
            <td class=xl51024266></td>
            <td class=xl51024266></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl6553524266 style='height:15.0pt'></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td colspan=3 height=20 class=xl58424266 style='border-right:.5pt solid black;
  height:15.0pt'>
                0-30 days
            </td>
            <td colspan=2 class=xl58424266 style='border-left:none'>31-60 days</td>
            <td class=xl57724266>&nbsp;</td>
            <td class=xl58424266><span style='mso-spacerun:yes'> </span>&gt; 61 days</td>
            <td class=xl52924266>&nbsp;</td>
            <td colspan=2 class=xl58424266 style='border-right:.5pt solid black'>Total</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td colspan=3 height=20 class=xl58724266 style='border-right:.5pt solid black;
  height:15.0pt'>
                $882.00
            </td>
            <td colspan=2 class=xl58724266 style='border-left:none'>$0.00</td>
            <td colspan=3 class=xl58724266 style='border-right:.5pt solid black'>$0.00</td>
            <td colspan=2 class=xl58724266 style='border-right:.5pt solid black;
  border-left:none'>
                $882.00
            </td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl6553524266 style='height:15.0pt'></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl6553524266 style='height:15.0pt'></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl6553524266></td>
            <td class=xl52124266>Page 1 of 1</td>
        </tr>
        <![if supportMisalignedColumns]>
        <tr height=0 style='display:none'>
            <td width=68 style='width:51pt'></td>
            <td width=118 style='width:89pt'></td>
            <td width=35 style='width:26pt'></td>
            <td width=106 style='width:80pt'></td>
            <td width=71 style='width:53pt'></td>
            <td width=47 style='width:35pt'></td>
            <td width=51 style='width:38pt'></td>
            <td width=65 style='width:49pt'></td>
            <td width=75 style='width:56pt'></td>
            <td width=88 style='width:66pt'></td>
        </tr>
        <![endif]>
    </table>

</div>

