
@{
    ViewBag.Title = "Index";
}


<div id="SHIRLEY SALES SHEET 04-10-2015_10924" align=center
     x:publishsource="Excel">

    <table border=0 cellpadding=0 cellspacing=0 width=633 class=xl50410924
           style='border-collapse:collapse;table-layout:fixed;width:476pt'>
        <col class=xl50410924 width=90 style='mso-width-source:userset;mso-width-alt:
 3291;width:68pt'>
        <col class=xl50410924 width=146 style='mso-width-source:userset;mso-width-alt:
 5339;width:110pt'>
        <col class=xl50410924 width=91 style='mso-width-source:userset;mso-width-alt:
 3328;width:68pt'>
        <col class=xl50410924 width=70 style='mso-width-source:userset;mso-width-alt:
 2560;width:53pt'>
        <col class=xl50410924 width=96 style='mso-width-source:userset;mso-width-alt:
 3510;width:72pt'>
        <col class=xl50410924 width=140 style='mso-width-source:userset;mso-width-alt:
 5120;width:105pt'>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl52210924 colspan=2 width=236 style='height:15.0pt;
  width:178pt'>
                Motosel Industrial Group Inc.
            </td>
            <td class=xl55110924 width=91 style='width:68pt'>&nbsp;</td>
            <td class=xl55110924 width=70 style='width:53pt'>&nbsp;</td>
            <td colspan=2 class=xl57310924 width=236 style='border-right:1.0pt solid black;
  width:177pt'>
                Shipping Order No.
            </td>
        </tr>
        <tr height=20 style='mso-height-source:userset;height:15.0pt'>
            <td height=20 class=xl55010924 colspan=2 style='height:15.0pt'>
                #407 - 204
                Cayer Street
            </td>
            <td class=xl50410924></td>
            <td class=xl50410924></td>
            <td colspan=2 class=xl57510924 style='border-right:1.0pt solid black'>80026</td>
        </tr>
        <tr height=20 style='mso-height-source:userset;height:15.0pt'>
            <td height=20 class=xl55010924 colspan=2 style='height:15.0pt'>
                Coquitlam, BC
                V3K 5B1
            </td>
            <td class=xl55510924>
                <span style='mso-spacerun:yes'>
                </span>PICK UP ORDERS
            </td>
            <td class=xl50910924></td>
            <td class=xl50410924></td>
            <td class=xl50710924>&nbsp;</td>
        </tr>
        <tr height=20 style='mso-height-source:userset;height:15.0pt'>
            <td height=20 class=xl55010924 colspan=2 style='height:15.0pt'>
                Tel:
                604-629-8733
            </td>
            <td class=xl50410924></td>
            <td class=xl53110924></td>
            <td class=xl51110924>Date:</td>
            <td class=xl57210924>April 22, 2015</td>
        </tr>
        <tr height=20 style='mso-height-source:userset;height:15.0pt'>
            <td height=20 class=xl55010924 colspan=2 style='height:15.0pt'>
                Fax:
                604-629-7527
            </td>
            <td class=xl50410924></td>
            <td class=xl53110924></td>
            <td class=xl52610924></td>
            <td class=xl51410924>&nbsp;</td>
        </tr>
        <tr height=21 style='height:15.75pt'>
            <td height=21 class=xl50810924 style='height:15.75pt'>&nbsp;</td>
            <td class=xl50410924></td>
            <td class=xl53110924></td>
            <td class=xl53110924></td>
            <td class=xl53110924></td>
            <td class=xl51610924>&nbsp;</td>
        </tr>
        <tr height=21 style='height:15.75pt'>
            <td height=21 class=xl56110924 style='height:15.75pt'>SOLD TO:</td>
            <td class=xl55210924>&nbsp;</td>
            <td class=xl55210924>&nbsp;</td>
            <td class=xl56110924>SHIP TO:</td>
            <td class=xl56210924>&nbsp;</td>
            <td class=xl56310924>&nbsp;</td>
        </tr>
        <tr height=0 style='display:none;mso-height-source:userset;mso-height-alt:
  330'>
            <td class=xl56410924>Cust #:</td>
            <td class=xl52610924>8284</td>
            <td class=xl50410924></td>
            <td class=xl56410924>Cust #:</td>
            <td class=xl52610924>8284</td>
            <td class=xl50710924>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl50810924 colspan=3 style='height:14.25pt'>
                West-Can Auto
                Parts Plus (Langley)
            </td>
            <td class=xl50810924 colspan=3 style='border-right:1.0pt solid black'>
                West-Can
                Auto Parts Plus (Langley)
            </td>
        </tr>
        <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl50810924 colspan=2 style='height:14.25pt'>
                19990 Fraser
                Hwy
            </td>
            <td class=xl50410924></td>
            <td class=xl50810924 colspan=2>19990 Fraser Hwy</td>
            <td class=xl50710924>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl50810924 style='height:14.25pt'>Langley</td>
            <td class=xl50410924>BC</td>
            <td class=xl50410924>V3A 4E3</td>
            <td class=xl50810924>Langley</td>
            <td class=xl50410924>BC</td>
            <td class=xl50710924>V3A 4E3</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl50810924 style='height:14.25pt'>&nbsp;</td>
            <td class=xl50410924></td>
            <td class=xl50410924></td>
            <td class=xl50810924>&nbsp;</td>
            <td class=xl50410924></td>
            <td class=xl50710924>&nbsp;</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl55410924 style='height:15.0pt'>PHONE:</td>
            <td class=xl51910924>604-530-7278</td>
            <td class=xl51910924>&nbsp;</td>
            <td class=xl55410924>PHONE:</td>
            <td class=xl51910924>604-530-7278</td>
            <td class=xl55310924>&nbsp;</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl51510924 style='height:15.0pt'>&nbsp;</td>
            <td class=xl53110924></td>
            <td class=xl53110924></td>
            <td class=xl53110924></td>
            <td class=xl53110924></td>
            <td class=xl51610924>&nbsp;</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl51510924 colspan=2 style='height:15.0pt'>
                Order
                Information
            </td>
            <td class=xl50410924></td>
            <td class=xl53110924></td>
            <td class=xl53110924></td>
            <td class=xl51610924>&nbsp;</td>
        </tr>
        <tr height=21 style='height:15.75pt'>
            <td height=21 class=xl51510924 style='height:15.75pt'>&nbsp;</td>
            <td class=xl53110924></td>
            <td class=xl50410924></td>
            <td class=xl53110924></td>
            <td class=xl53110924></td>
            <td class=xl51610924>&nbsp;</td>
        </tr>
        <tr height=40 style='mso-height-source:userset;height:30.0pt'>
            <td height=40 class=xl56010924 style='height:30.0pt'>QUANTITY</td>
            <td class=xl55710924>DESCRIPTION</td>
            <td class=xl55610924>ITEM</td>
            <td class=xl55810924 style='border-left:none'>SKU#</td>
            <td class=xl56010924>PO#</td>
            <td class=xl55910924>NOTES</td>
        </tr>
        <tr height=20 style='mso-height-source:userset;height:15.0pt'>
            <td height=20 class=xl53310924 style='height:15.0pt'>2</td>
            <td class=xl53410924 width=146 style='width:110pt'>Pails</td>
            <td class=xl53510924>5W30 Full Syn</td>
            <td class=xl53610924 style='border-left:none'>M-0056</td>
            <td class=xl56710924>71164DAVE</td>
            <td class=xl53710924>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl53810924 style='height:14.25pt'>&nbsp;</td>
            <td class=xl53910924>&nbsp;</td>
            <td class=xl54010924>&nbsp;</td>
            <td class=xl54110924 style='border-left:none'>&nbsp;</td>
            <td class=xl56810924>&nbsp;</td>
            <td class=xl54210924>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl54310924 style='height:14.25pt'>&nbsp;</td>
            <td class=xl53910924 style='border-top:none'>&nbsp;</td>
            <td class=xl54410924 style='border-top:none'>&nbsp;</td>
            <td class=xl54510924 style='border-left:none'>&nbsp;</td>
            <td class=xl56810924 style='border-top:none'>&nbsp;</td>
            <td class=xl54210924 style='border-top:none'>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl53810924 style='height:14.25pt'>&nbsp;</td>
            <td class=xl54710924 style='border-top:none'>&nbsp;</td>
            <td class=xl54610924 style='border-top:none'>&nbsp;</td>
            <td class=xl54810924 style='border-left:none'>&nbsp;</td>
            <td class=xl56810924 style='border-top:none'>&nbsp;</td>
            <td class=xl54210924 style='border-top:none'>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl56510924 style='height:14.25pt;border-top:none'>&nbsp;</td>
            <td class=xl51710924 style='border-top:none'>&nbsp;</td>
            <td class=xl51210924 style='border-top:none'>&nbsp;</td>
            <td class=xl52710924 style='border-top:none;border-left:none'>&nbsp;</td>
            <td class=xl56910924 style='border-top:none'>&nbsp;</td>
            <td class=xl52810924 style='border-top:none'>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl56510924 style='height:14.25pt;border-top:none'>&nbsp;</td>
            <td class=xl51710924 style='border-top:none'>&nbsp;</td>
            <td class=xl51210924 style='border-top:none'>&nbsp;</td>
            <td class=xl52710924 style='border-top:none;border-left:none'>&nbsp;</td>
            <td class=xl56910924 style='border-top:none'>&nbsp;</td>
            <td class=xl52810924 style='border-top:none'>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl56510924 style='height:14.25pt;border-top:none'>&nbsp;</td>
            <td class=xl51710924 style='border-top:none'>&nbsp;</td>
            <td class=xl51210924 style='border-top:none'>&nbsp;</td>
            <td class=xl52710924 style='border-top:none;border-left:none'>&nbsp;</td>
            <td class=xl56910924 style='border-top:none'>&nbsp;</td>
            <td class=xl52810924 style='border-top:none'>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl56510924 style='height:14.25pt;border-top:none'>&nbsp;</td>
            <td class=xl51710924 style='border-top:none'>&nbsp;</td>
            <td class=xl51210924 style='border-top:none'>&nbsp;</td>
            <td class=xl52710924 style='border-top:none;border-left:none'>&nbsp;</td>
            <td class=xl56910924 style='border-top:none'>&nbsp;</td>
            <td class=xl52810924 style='border-top:none'>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl56510924 style='height:14.25pt;border-top:none'>&nbsp;</td>
            <td class=xl51710924 style='border-top:none'>&nbsp;</td>
            <td class=xl51210924 style='border-top:none'>&nbsp;</td>
            <td class=xl52710924 style='border-top:none;border-left:none'>&nbsp;</td>
            <td class=xl56910924 style='border-top:none'>&nbsp;</td>
            <td class=xl52810924 style='border-top:none'>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl56510924 style='height:14.25pt;border-top:none'>&nbsp;</td>
            <td class=xl51710924 style='border-top:none'>&nbsp;</td>
            <td class=xl51210924 style='border-top:none'>&nbsp;</td>
            <td class=xl52710924 style='border-top:none;border-left:none'>&nbsp;</td>
            <td class=xl57110924 style='border-top:none'>&nbsp;</td>
            <td class=xl52810924 style='border-top:none'>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl56510924 style='height:14.25pt;border-top:none'>&nbsp;</td>
            <td class=xl51710924 style='border-top:none'>&nbsp;</td>
            <td class=xl51210924 style='border-top:none'>&nbsp;</td>
            <td class=xl52710924 style='border-top:none;border-left:none'>&nbsp;</td>
            <td class=xl56910924 style='border-top:none'>&nbsp;</td>
            <td class=xl52810924 style='border-top:none'>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl56510924 style='height:14.25pt;border-top:none'>&nbsp;</td>
            <td class=xl51710924 style='border-top:none'>&nbsp;</td>
            <td class=xl51210924 style='border-top:none'>&nbsp;</td>
            <td class=xl52710924 style='border-top:none;border-left:none'>&nbsp;</td>
            <td class=xl56910924 style='border-top:none'>&nbsp;</td>
            <td class=xl52810924 style='border-top:none'>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl56510924 style='height:14.25pt;border-top:none'>&nbsp;</td>
            <td class=xl51710924 style='border-top:none'>&nbsp;</td>
            <td class=xl51210924 style='border-top:none'>&nbsp;</td>
            <td class=xl52710924 style='border-top:none;border-left:none'>&nbsp;</td>
            <td class=xl56910924 style='border-top:none'>&nbsp;</td>
            <td class=xl52810924 style='border-top:none'>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl56510924 style='height:14.25pt;border-top:none'>&nbsp;</td>
            <td class=xl51710924 style='border-top:none'>&nbsp;</td>
            <td class=xl51210924 style='border-top:none'>&nbsp;</td>
            <td class=xl52710924 style='border-top:none;border-left:none'>&nbsp;</td>
            <td class=xl56910924 style='border-top:none'>&nbsp;</td>
            <td class=xl52810924 style='border-top:none'>&nbsp;</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl56510924 style='height:15.0pt;border-top:none'>&nbsp;</td>
            <td class=xl51710924 style='border-top:none'>&nbsp;</td>
            <td class=xl51210924 style='border-top:none'>&nbsp;</td>
            <td class=xl52710924 style='border-top:none;border-left:none'>&nbsp;</td>
            <td class=xl56910924 style='border-top:none'>&nbsp;</td>
            <td class=xl52810924 style='border-top:none'>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl56510924 style='height:14.25pt;border-top:none'>&nbsp;</td>
            <td class=xl51710924 style='border-top:none'>&nbsp;</td>
            <td class=xl51210924 style='border-top:none'>&nbsp;</td>
            <td class=xl52710924 style='border-top:none;border-left:none'>&nbsp;</td>
            <td class=xl56910924 style='border-top:none'>&nbsp;</td>
            <td class=xl52810924 style='border-top:none'>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl56510924 style='height:14.25pt;border-top:none'>&nbsp;</td>
            <td class=xl51710924 style='border-top:none'>&nbsp;</td>
            <td class=xl51210924 style='border-top:none'>&nbsp;</td>
            <td class=xl52710924 style='border-top:none;border-left:none'>&nbsp;</td>
            <td class=xl56910924 style='border-top:none'>&nbsp;</td>
            <td class=xl52810924 style='border-top:none'>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl56510924 style='height:14.25pt;border-top:none'>&nbsp;</td>
            <td class=xl51710924 style='border-top:none'>&nbsp;</td>
            <td class=xl51210924 style='border-top:none'>&nbsp;</td>
            <td class=xl52710924 style='border-top:none;border-left:none'>&nbsp;</td>
            <td class=xl56910924 style='border-top:none'>&nbsp;</td>
            <td class=xl52810924 style='border-top:none'>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl56510924 style='height:14.25pt;border-top:none'>&nbsp;</td>
            <td class=xl51710924 style='border-top:none'>&nbsp;</td>
            <td class=xl51210924 style='border-top:none'>&nbsp;</td>
            <td class=xl52710924 style='border-top:none;border-left:none'>&nbsp;</td>
            <td class=xl56910924 style='border-top:none'>&nbsp;</td>
            <td class=xl52810924 style='border-top:none'>&nbsp;</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl56610924 style='height:15.0pt;border-top:none'>&nbsp;</td>
            <td class=xl51910924>&nbsp;</td>
            <td class=xl52310924>&nbsp;</td>
            <td class=xl52110924 style='border-top:none;border-left:none'>&nbsp;</td>
            <td class=xl57010924 style='border-top:none'>&nbsp;</td>
            <td class=xl52010924 style='border-top:none'>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl54910924 style='height:14.25pt;border-top:none'>&nbsp;</td>
            <td class=xl52910924></td>
            <td class=xl52910924></td>
            <td class=xl52910924></td>
            <td class=xl52910924></td>
            <td class=xl51810924>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl50510924 style='height:14.25pt'>&nbsp;</td>
            <td class=xl52910924></td>
            <td class=xl52910924></td>
            <td class=xl52910924></td>
            <td class=xl52910924></td>
            <td class=xl51810924>&nbsp;</td>
        </tr>
        <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl50610924 style='height:14.25pt'>&nbsp;</td>
            <td class=xl53010924></td>
            <td class=xl51010924></td>
            <td class=xl51010924></td>
            <td class=xl52410924></td>
            <td class=xl50710924>&nbsp;</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl51310924 colspan=6 style='height:15.0pt;border-right:
  1.0pt solid black'>
                PICKED UP BY: __________________________________________
            </td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl50810924 style='height:15.0pt'>&nbsp;</td>
            <td class=xl53110924></td>
            <td class=xl53110924></td>
            <td class=xl53110924></td>
            <td class=xl53110924></td>
            <td class=xl50710924>&nbsp;</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl51310924 colspan=6 style='height:15.0pt;border-right:
  1.0pt solid black'>
                DATE RECEIVED: __________________________________________
            </td>
        </tr>
        <tr height=19 style='height:14.25pt'>
            <td height=19 class=xl50810924 style='height:14.25pt'>&nbsp;</td>
            <td class=xl50410924></td>
            <td class=xl50410924></td>
            <td class=xl50410924></td>
            <td class=xl50410924></td>
            <td class=xl50710924>&nbsp;</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl51310924 style='height:15.0pt'>&nbsp;</td>
            <td class=xl53210924></td>
            <td class=xl52510924></td>
            <td class=xl52510924></td>
            <td class=xl52510924></td>
            <td class=xl50710924>&nbsp;</td>
        </tr>
        <tr height=21 style='height:15.75pt'>
            <td colspan=6 height=21 class=xl57710924 style='border-right:1.0pt solid black;
  height:15.75pt'>
                CLAIMS FOR SHORTAGE MUST BE REPORTED UPON RECEIPT
            </td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl55410924 style='height:15.0pt'>&nbsp;</td>
            <td class=xl51910924>&nbsp;</td>
            <td class=xl51910924>&nbsp;</td>
            <td class=xl51910924>&nbsp;</td>
            <td class=xl51910924>&nbsp;</td>
            <td class=xl55310924>&nbsp;</td>
        </tr>
        <![if supportMisalignedColumns]>
        <tr height=0 style='display:none'>
            <td width=90 style='width:68pt'></td>
            <td width=146 style='width:110pt'></td>
            <td width=91 style='width:68pt'></td>
            <td width=70 style='width:53pt'></td>
            <td width=96 style='width:72pt'></td>
            <td width=140 style='width:105pt'></td>
        </tr>
        <![endif]>
    </table>

</div>