
@{
    ViewBag.Title = "PriceLlist";
}

<div id="Price List_7443" align=center x:publishsource="Excel">

    <table border=0 cellpadding=0 cellspacing=0 width=553 style='border-collapse:
 collapse;table-layout:fixed;width:415pt'>
        <col width=126 style='width:95pt'>
        <col width=168 style='width:126pt'>
        <col width=91 style='width:68pt'>
        <col width=168 style='width:126pt'>
        <tr height=20 style='height:15.0pt'>
            <td colspan=2 height=20 class=xl677443 width=294 style='height:15.0pt;
  width:221pt'>
                <font class="font57443">Motosel Industrial Group Inc.</font>
            </td>
            <td class=xl637443 width=91 style='width:68pt'>&nbsp;</td>
            <td class=xl647443 width=168 style='width:126pt'>&nbsp;</td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td colspan=2 height=17 class=xl687443 style='height:12.75pt'>
                <font class="font67443">Price List for Mobil 1 (Mission)</font>
            </td>
            <td class=xl637443>&nbsp;</td>
            <td class=xl647443>&nbsp;</td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl717443 style='height:12.75pt'>&nbsp;</td>
            <td class=xl717443>&nbsp;</td>
            <td class=xl697443>&nbsp;</td>
            <td class=xl707443>&nbsp;</td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl657443 style='height:12.75pt'><font class="font77443">Description</font></td>
            <td class=xl657443><font class="font77443">PKG</font></td>
            <td class=xl657443><font class="font77443">SKU</font></td>
            <td class=xl667443><font class="font77443">Price (per litre)</font></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl737443 style='height:12.75pt'>&nbsp;</td>
            <td class=xl737443>&nbsp;</td>
            <td class=xl737443>&nbsp;</td>
            <td class=xl747443>&nbsp;</td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl737443 style='height:12.75pt'>10W30</td>
            <td class=xl737443>Bulk</td>
            <td class=xl737443>M-0201</td>
            <td class=xl747443>2.07</td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl737443 style='height:12.75pt'>5W30</td>
            <td class=xl737443>Bulk</td>
            <td class=xl737443>M-0054</td>
            <td class=xl747443>2.07</td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl737443 style='height:12.75pt'>5W20</td>
            <td class=xl737443>Bulk</td>
            <td class=xl737443>M-0058</td>
            <td class=xl747443>2.07</td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl737443 style='height:12.75pt'>15W40</td>
            <td class=xl737443>Bulk</td>
            <td class=xl737443>M-0062</td>
            <td class=xl747443>2.35</td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl737443 style='height:12.75pt'>ATF</td>
            <td class=xl737443>Bulk</td>
            <td class=xl737443>M-0066</td>
            <td class=xl747443>2.65</td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl757443 style='height:12.75pt'>5W30 Full Syn</td>
            <td class=xl757443>Bulk</td>
            <td class=xl757443>M-0088</td>
            <td class=xl767443>&nbsp;</td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl777443 style='height:12.75pt'>&nbsp;</td>
            <td class=xl777443>&nbsp;</td>
            <td class=xl777443>&nbsp;</td>
            <td class=xl787443>&nbsp;</td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl737443 style='height:12.75pt'>0W20</td>
            <td class=xl737443>CASES (1 Qt x 12)</td>
            <td class=xl737443>M-0014</td>
            <td class=xl747443>4.25</td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl797443 style='height:12.75pt'>ATF Full Syn</td>
            <td class=xl757443>CASES (1 Qt x 12)</td>
            <td class=xl757443>M-0024</td>
            <td class=xl807443>4.95</td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl777443 style='height:12.75pt'>&nbsp;</td>
            <td class=xl777443>&nbsp;</td>
            <td class=xl777443>&nbsp;</td>
            <td class=xl817443>&nbsp;</td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl737443 style='height:12.75pt'>75W90</td>
            <td class=xl727443>Pails</td>
            <td class=xl737443>M-0052</td>
            <td class=xl747443>7.00</td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl737443 style='height:12.75pt'>75W140</td>
            <td class=xl727443>Pails</td>
            <td class=xl737443>M-0053</td>
            <td class=xl747443>8.00</td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl157443 style='height:15.0pt'></td>
            <td class=xl157443></td>
            <td class=xl157443></td>
            <td class=xl157443></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl157443 style='height:15.0pt'></td>
            <td class=xl157443></td>
            <td class=xl157443></td>
            <td class=xl157443></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl157443 style='height:15.0pt'></td>
            <td class=xl157443></td>
            <td class=xl157443></td>
            <td class=xl157443></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl157443 style='height:15.0pt'></td>
            <td class=xl157443></td>
            <td class=xl157443></td>
            <td class=xl157443></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl157443 style='height:15.0pt'></td>
            <td class=xl157443></td>
            <td class=xl157443></td>
            <td class=xl157443></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl157443 style='height:15.0pt'></td>
            <td class=xl157443></td>
            <td class=xl157443></td>
            <td class=xl157443></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl157443 style='height:15.0pt'></td>
            <td class=xl157443></td>
            <td class=xl157443></td>
            <td class=xl157443></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl157443 style='height:15.0pt'></td>
            <td class=xl157443></td>
            <td class=xl157443></td>
            <td class=xl157443></td>
        </tr>
        <![if supportMisalignedColumns]>
        <tr height=0 style='display:none'>
            <td width=126 style='width:95pt'></td>
            <td width=168 style='width:126pt'></td>
            <td width=91 style='width:68pt'></td>
            <td width=168 style='width:126pt'></td>
        </tr>
        <![endif]>
    </table>

</div>

