
@{
    ViewBag.Title = "SalesReport";
}

<div id="Sales Report Summary_8990" align=center x:publishsource="Excel">

    <table border=0 cellpadding=0 cellspacing=0 width=624 style='border-collapse:
 collapse;table-layout:fixed;width:468pt'>
        <col width=147 style='width:110pt'>
        <col width=168 style='width:126pt'>
        <col class=xl868990 width=140 style='width:105pt'>
        <col class=xl868990 width=105 style='width:79pt'>
        <col width=64 style='width:48pt'>
        <tr height=17 style='height:12.75pt'>
            <td colspan=4 height=17 class=xl758990 width=560 style='height:12.75pt;
  width:420pt'>
                Motosel Industrial Group Inc.
            </td>
            <td class=xl158990 width=64 style='width:48pt'></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td colspan=4 height=17 class=xl768990 width=560 style='height:12.75pt;
  width:420pt'>
                Sales Report from 01/04/2015 to 04/20/2015
            </td>
            <td class=xl158990></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl768990 width=147 style='height:12.75pt;width:110pt'>&nbsp;</td>
            <td class=xl768990 width=168 style='width:126pt'>&nbsp;</td>
            <td class=xl798990 width=140 style='width:105pt'>&nbsp;</td>
            <td class=xl798990 width=105 style='width:79pt'>&nbsp;</td>
            <td class=xl158990></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl638990 style='height:12.75pt'>&nbsp;</td>
            <td class=xl648990><font class="font68990">Total Sales</font></td>
            <td class=xl778990><font class="font68990">Syn Oil</font></td>
            <td class=xl658990><font class="font68990">Non Syn</font></td>
            <td class=xl158990></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl638990 style='height:12.75pt'>&nbsp;</td>
            <td class=xl668990><font class="font68990">(In Litres)</font></td>
            <td class=xl788990><font class="font68990">(In Litres)</font></td>
            <td class=xl678990><font class="font68990">(In Litres)</font></td>
            <td class=xl158990></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl688990 style='height:12.75pt'>&nbsp;</td>
            <td class=xl698990>&nbsp;</td>
            <td class=xl808990>&nbsp;</td>
            <td class=xl698990>&nbsp;</td>
            <td class=xl158990></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl688990 style='height:12.75pt'><font class="font58990">Dan</font></td>
            <td class=xl698990>25,673</td>
            <td class=xl808990>3,386</td>
            <td class=xl698990>22,287</td>
            <td class=xl158990></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl708990 style='height:12.75pt'><font class="font58990">Kumar</font></td>
            <td class=xl718990>8,449</td>
            <td class=xl818990>1,796</td>
            <td class=xl718990>6,653</td>
            <td class=xl158990></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl878990 style='height:12.75pt'>&nbsp;</td>
            <td class=xl888990>&nbsp;</td>
            <td class=xl888990>&nbsp;</td>
            <td class=xl888990>&nbsp;</td>
            <td class=xl158990></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl728990 style='height:12.75pt'><font class="font68990">Motosel</font></td>
            <td class=xl738990>&nbsp;</td>
            <td class=xl828990>&nbsp;</td>
            <td class=xl838990>&nbsp;</td>
            <td class=xl158990></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl688990 style='height:12.75pt'><font class="font58990">NAPA</font></td>
            <td class=xl698990>3,542</td>
            <td class=xl848990>145</td>
            <td class=xl698990>3,397</td>
            <td class=xl158990></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl688990 style='height:12.75pt'><font class="font58990">Dave</font></td>
            <td class=xl698990>1,638</td>
            <td class=xl848990>48</td>
            <td class=xl698990>1,590</td>
            <td class=xl158990></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl688990 style='height:12.75pt'><font class="font58990">Arash</font></td>
            <td class=xl698990>1,244</td>
            <td class=xl848990>316</td>
            <td class=xl698990>928</td>
            <td class=xl158990></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl708990 style='height:12.75pt'><font class="font58990">Ali</font></td>
            <td class=xl718990>0</td>
            <td class=xl858990>0</td>
            <td class=xl718990>0</td>
            <td class=xl158990></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl708990 style='height:12.75pt'>
                <font class="font58990">
                    Calssy
                    Import
                </font>
            </td>
            <td class=xl718990>0</td>
            <td class=xl858990>0</td>
            <td class=xl718990>0</td>
            <td class=xl158990></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl878990 style='height:12.75pt'>&nbsp;</td>
            <td class=xl888990>&nbsp;</td>
            <td class=xl888990>&nbsp;</td>
            <td class=xl888990>&nbsp;</td>
            <td class=xl158990></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl748990 style='height:12.75pt'><font class="font68990">West-Can</font></td>
            <td class=xl898990>44,203</td>
            <td class=xl898990>4,989</td>
            <td class=xl898990>39,214</td>
            <td class=xl158990></td>
        </tr>
        <tr height=17 style='height:12.75pt'>
            <td height=17 class=xl748990 style='height:12.75pt'>&nbsp;</td>
            <td class=xl898990>&nbsp;</td>
            <td class=xl898990>&nbsp;</td>
            <td class=xl898990>&nbsp;</td>
            <td class=xl158990></td>
        </tr>
        <tr height=18 style='height:13.5pt'>
            <td height=18 class=xl708990 style='height:13.5pt'>
                <font class="font58990">
                    Total
                    Litres Sold:
                </font>
            </td>
            <td class=xl908990>84,749</td>
            <td class=xl908990>10,680</td>
            <td class=xl908990>74,069</td>
            <td class=xl158990></td>
        </tr>
        <tr height=18 style='height:13.5pt'>
            <td height=18 class=xl158990 style='height:13.5pt'></td>
            <td class=xl158990></td>
            <td class=xl868990></td>
            <td class=xl868990></td>
            <td class=xl158990></td>
        </tr>
        <tr height=20 style='height:15.0pt'>
            <td height=20 class=xl158990 style='height:15.0pt'></td>
            <td class=xl158990></td>
            <td class=xl868990></td>
            <td class=xl868990></td>
            <td class=xl158990></td>
        </tr>
        <![if supportMisalignedColumns]>
        <tr height=0 style='display:none'>
            <td width=147 style='width:110pt'></td>
            <td width=168 style='width:126pt'></td>
            <td width=140 style='width:105pt'></td>
            <td width=105 style='width:79pt'></td>
            <td width=64 style='width:48pt'></td>
        </tr>
        <![endif]>
    </table>

</div>

